

.body, .h2, .p, .ul, .li {
    font-size: 13px;
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

/* Barre de navigation */ 
.barreDeNavigation {
    background-color: #3e3e3e;
    color: white;
    overflow: hidden;
    padding-top: 20px;
    text-align: center;
}

.listeBarreDeNavigation {
    display: flex;
    justify-content: center;
}

.menu .sousMenu {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: medium;
}

.menu .sousMenu:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Article */ 
.ajustement {
    margin: 80px;
    padding: 50px; /*2em*/
    max-width: 1500px;
    box-shadow: 0px -1px 8px 1px lightgrey;
    width: 1295;
    height: 2200; /* 2493.23px; */
}

.profile-pic {
    height: 280;
}

.moi  {
    text-align: center;
}

h1{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: normal;
    text-align: center;
font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.right{
    float: left;
    width: 70%;
}

.left{
    float: left;
    width: 30%;
}

.cright {
    padding-right: 250px;
    padding-left: 250;
    text-align: end;
    line-height: 0px;
}

.cleft {
    padding-right: 250px;
    padding-left: 250;
    text-align: start;
    line-height: 0px;
}

.sousright {
    text-align: left;
}

.sousleft {
    text-align: right; /* Niveau des 4 premières compétences */
}

/* Footer */ 
.footer {
    background-color: #3e3e3e;
    color: white;
    
    text-align: center;

    font-size: 13px;
    margin: 0px;
    padding: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    list-style: none;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1200px;
    margin: auto;
}

.footer-section {
    flex: 1;
    padding: 20px;
}

.footer-section h2 {
    margin-bottom: 15px;
    font-size: 18px;
}

.footer-section p, .footer-section a {
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 14px;
    border-top: 1px solid black;
    padding-top: 10px;
}



@media (max-width: 600px) {
    .listeBarreDeNavigation {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }
    
    .footer-section {
        padding: 10px;
    }
}

/* Pied de page */ 
.content {
    padding: 20px;
}
